
html{
  overflow-x: hidden;
}
.nav-item{
  padding-right: 1rem;
}
.nav_bg{
  background-color: #660066;
}
.navchange{
  color: #fff;
  font-size: 0.9rem;
}
.nav_change{
  color: #fff;
}
.img-size{
  height: 2rem;
  width: 2rem;
}
.company-icon{
  height: 5rem;
  width: 12rem;
  max-width: 100%;
  
}
